.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: set-color(gray-9);
  &__top {
    width: set-col-width(2);
    color: set-color(white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    text-align: center;
    p{
        font-size: 15px;
        color: set-color(gray-5);
        margin-top: 15px;
    }
  }
  &__center{
      display: grid;
      grid-template: 1fr/1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 0 40px;
      margin-bottom: 30px;
      @include screen-max-width(750){
        grid-template: auto/1fr 1fr;
      };
      @include screen-max-width(600){
        grid-template: auto/1fr;
      };
      &__list-item{
        background: set-color(gray-8);
        border-radius: 10px;
        box-shadow: 0 0 5px 0.5px rgba(#000,0.5);
        padding: 15px;
        display: flex;
        flex-direction: column;
        h2{
            color: set-color(white);
            margin-bottom: 10px;
        }
        ul li{
            color: set-color(gray-5);
            font-size: 15px;
            margin: 10px 0;
            a{
                color: set-color(gray-5);
                font-size: 15px;
            }
        }
      } 
  }
  &__bottom {
    height: 10vh;
    width: set-col-width(1);
    background: set-color(gray-8);
    display: flex;
    justify-content: center;
    align-items: center;
    p,
    a {
      font-size: 14px;
      color: set-color(gray-5);
      font-weight: 500;
    }
  }
}
