.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: set-color(gray-9);
  &__top {
    width: set-col-width(8);
    color: set-color(white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    text-align: center;
    p {
      font-size: 15px;
      color: set-color(gray-5);
      margin-top: 15px;
    }
  }
  &__center {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    &__list-item {
      background: set-color(gray-8);
      border-radius: 10px;
      box-shadow: 0 0 5px 0.5px rgba(#000, 0.5);
      padding: 15px;
      display: flex;
      flex-direction: column;
      @include col-n-flex(3);
      @include screen-max-width(992) {
        &:nth-child(1) {
          @include col-n-flex(5);
        }
        &:nth-child(2) {
          @include col-n-flex(5);
        }
        &:nth-child(3) {
          @include col-n-flex(6);
        }
      }
      @include screen-max-width(576) {
        &:nth-child(1) {
          @include col-n-flex(10);
        }
        &:nth-child(2) {
          @include col-n-flex(10);
        }
        &:nth-child(3) {
          @include col-n-flex(10);
        }
      }
      h2 {
        color: set-color(white);
        margin-bottom: 10px;
      }
      ul li {
        color: set-color(gray-5);
        font-size: 15px;
        margin: 10px 0;
        a {
          color: set-color(gray-5);
          font-size: 15px;
        }
      }
    }
  }
  &__bottom {
    height: 10vh;
    width: set-col-width(12);
    background: set-color(gray-8);
    display: flex;
    justify-content: center;
    align-items: center;
    p,
    a {
      font-size: 12px;
      color: set-color(gray-5);
      font-weight: 500;
    }
  }
}
