.nav{
    background: linear-gradient(to right, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../banner.jpg') fixed no-repeat center center / cover;
    width: set-col-width(1);
    &__bar{
        display: flex;
        padding: 10px 50px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include transition(all,1s,ease-in-out,null);
        &__logo{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            i{
                font-size: 35px;
                width: 60px;
                height: 60px;
                aspect-ratio: 1/1;
                color: rgba(0, 0, 0, 0.69);
                background: #00BCD4;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }
            p{
                color: set-color(gray-9);
                font-weight: 900;
                text-align: left;
                font-size: 30px;
                line-height: 1.15;
                @include screen-max-width(576){
                    font-size: 18px;
                }
            }
        }
        &__burger{
            display: none;
            cursor: pointer;
            @include screen-max-width(750){
                display: block;
                width: 50px;
                aspect-ratio: 1/1;
                background:#00BCD4;
                border-radius: 50%;
                padding: 10px;
                span{
                    height: 4px;
                    border-radius: 1px;
                    background: #000;
                    display: block;
                    width: set-col-width(1);
                    margin: 4px 0;
                    @include transition(all,0.2s,null,null);
                }
                &--toggle{
                    span{
                        &:nth-child(2){
                            display: none;
                        }
                        &:first-child{
                            transform: rotate(45deg);
                            transform-origin: 35% bottom;
                        }
                        &:last-child{
                            transform: rotate(-45deg);
                            transform-origin: 35% top;
                        }
                    }
                }
                &:hover span{
                    background:set-color(gray-5);
                }
            };
        }
        &__list{
            @include screen-max-width(750){
                display: none;
            }
            &__items{
                display: flex;
                justify-content: center;
                align-items: center;
                &__item{
                    margin: 0 5px;
                    &__link{
                        display: block;
                        color: set-color(gray-9);
                        padding: 10px;
                        background: set-color(white);
                        border-radius: 5px;
                        font-weight: 500;
                        white-space: nowrap;
                        @include transition(all,0.5s,null,null);
                    }
                    &:hover &__link{
                        color: set-color(white);
                        background: set-color(gray-5);
                    }
                }
            }
            &--toggle{
                z-index: 1;
                background: #00BCD4;
                width: set-col-width(1);
                position: absolute;
                top: 88px;
                overflow: hidden;
                height: auto;
                right: 0;
                display: block;
                ul{
                    display: block;
                    li{
                        margin: 5px auto;
                        display: block;
                        text-align: center;
                        cursor: pointer;
                        a{
                            background: transparent;
                            border-radius: 0;
                        }
                        &:hover a{
                            background: transparent !important;
                        }
                    }
                }
            }
        }
    }  
    &__info{
        position: relative;
        width: set-col-width(1);
        padding: 120px 80px;
        display: flex;
        flex-direction: column;
        i{
            font-size: 35px;
            width: 80px;
            height: 80px;
            aspect-ratio: 1/1;
            color: rgba(255, 255, 255, 0.69);
            background: set-color(gray-5);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            @include screen-max-width(768){
                font-size: 26px;
                width: 60px;
                height: 60px;
            }
            @include screen-max-width(576){
                font-size: 23px;
                width: 50px;
                height: 50px;
            }
        }
        &__first{
            font-weight: 600;
            font-size: 48px;
            text-transform: capitalize;
            color: set-color(gray-2);
            @include screen-max-width(768){
                font-size: 28px;
            }
            @include screen-max-width(576){
                font-size: 12px;
            }
        }
        &__second{
            font-weight: 300;
            font-size: 44px;
            text-transform: capitalize;
            color: set-color(gray-2);
            @include screen-max-width(768){
                font-size: 25px;
            }
            @include screen-max-width(576){
                font-size: 10px;
            }
        }
    }
}