.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  padding: 50px 30px;
  &__support,
  &__web {
    &__title-desc {
      h2 {
        font-size: 30px;
        margin-bottom: 15px;
        @include screen-max-width(576) {
          font-size: 16px;
        }
      }
      p {
        font-size: 15px;
        line-height: 15px * 2;
        text-align: justify;
      }
    }
    &__image {
      text-align: center;
      img {
        background: no-repeat center center/cover;
        width: 100%;
      }
    }
  }
  &__support {
    &__title-desc {
      @include col-n-flex(6);
      @include screen-max-width(992) {
        @include col-n-flex(12);
      }
    }
    &__image {
      @include col-n-flex(5.85);
      @include screen-max-width(992) {
        @include col-n-flex(5.9);
      }
      @include screen-max-width(768) {
        @include col-n-flex(12);
      }
    }
  }
  &__web {
    &__title-desc {
      @include col-n-flex(6);
      @include screen-max-width(992) {
        @include col-n-flex(12);
      }
    }
    &__image {
      @include col-n-flex(5.85);
      @include screen-max-width(992) {
        @include col-n-flex(5.9);
      }
      @include screen-max-width(768) {
        @include col-n-flex(12);
      }
    }
  }
}
