@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
}

.nav {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../banner.jpg") fixed no-repeat center center/cover;
  width: 100%;
}
.nav__bar {
  display: flex;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease-in-out;
}
.nav__bar__logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.nav__bar__logo i {
  font-size: 35px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  color: rgba(0, 0, 0, 0.69);
  background: #00bcd4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.nav__bar__logo p {
  color: #212529;
  font-weight: 900;
  text-align: left;
  font-size: 30px;
  line-height: 1.15;
}
@media only screen and (max-width: 576px) {
  .nav__bar__logo p {
    font-size: 18px;
  }
}
.nav__bar__burger {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  .nav__bar__burger {
    display: block;
    width: 50px;
    aspect-ratio: 1/1;
    background: #00bcd4;
    border-radius: 50%;
    padding: 10px;
  }
  .nav__bar__burger span {
    height: 4px;
    border-radius: 1px;
    background: #000;
    display: block;
    width: 100%;
    margin: 4px 0;
    transition: all 0.2s;
  }
  .nav__bar__burger--toggle span:nth-child(2) {
    display: none;
  }
  .nav__bar__burger--toggle span:first-child {
    transform: rotate(45deg);
    transform-origin: 35% bottom;
  }
  .nav__bar__burger--toggle span:last-child {
    transform: rotate(-45deg);
    transform-origin: 35% top;
  }
  .nav__bar__burger:hover span {
    background: #adb5bd;
  }
}
@media only screen and (max-width: 750px) {
  .nav__bar__list {
    display: none;
  }
}
.nav__bar__list__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bar__list__items__item {
  margin: 0 5px;
}
.nav__bar__list__items__item__link {
  display: block;
  color: #212529;
  padding: 10px;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.5s;
}
.nav__bar__list__items__item:hover .nav__bar__list__items__item__link {
  color: white;
  background: #adb5bd;
}
.nav__bar__list--toggle {
  z-index: 1;
  background: #00bcd4;
  width: 100%;
  position: absolute;
  top: 88px;
  overflow: hidden;
  height: auto;
  right: 0;
  display: block;
}
.nav__bar__list--toggle ul {
  display: block;
}
.nav__bar__list--toggle ul li {
  margin: 5px auto;
  display: block;
  text-align: center;
  cursor: pointer;
}
.nav__bar__list--toggle ul li a {
  background: transparent;
  border-radius: 0;
}
.nav__bar__list--toggle ul li:hover a {
  background: transparent !important;
}
.nav__info {
  position: relative;
  width: 100%;
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
}
.nav__info i {
  font-size: 35px;
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  color: rgba(255, 255, 255, 0.69);
  background: #adb5bd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .nav__info i {
    font-size: 26px;
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .nav__info i {
    font-size: 23px;
    width: 50px;
    height: 50px;
  }
}
.nav__info__first {
  font-weight: 600;
  font-size: 48px;
  text-transform: capitalize;
  color: #e9ecef;
}
@media only screen and (max-width: 768px) {
  .nav__info__first {
    font-size: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .nav__info__first {
    font-size: 12px;
  }
}
.nav__info__second {
  font-weight: 300;
  font-size: 44px;
  text-transform: capitalize;
  color: #e9ecef;
}
@media only screen and (max-width: 768px) {
  .nav__info__second {
    font-size: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .nav__info__second {
    font-size: 10px;
  }
}

.what-we-do {
  width: 100%;
  padding: 20px;
}
.what-we-do__title {
  text-align: center;
  margin-bottom: 15px;
}
.what-we-do__list-items {
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.what-we-do__list-items__item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}
.what-we-do__list-items__item i {
  font-size: 60px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
  color: var(--icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what-we-do__list-items__item h3 {
  margin: 15px 0;
  font-size: 15px;
  text-align: center;
}
.what-we-do__list-items__item p {
  text-align: justify;
  font-size: 14px;
  white-space: pre-wrap;
}
.what-we-do__list-items__item:hover {
  background: #adb5bd;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  padding: 50px 30px;
}
.overview__support__title-desc h2, .overview__web__title-desc h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 576px) {
  .overview__support__title-desc h2, .overview__web__title-desc h2 {
    font-size: 16px;
  }
}
.overview__support__title-desc p, .overview__web__title-desc p {
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}
.overview__support__image, .overview__web__image {
  text-align: center;
}
.overview__support__image img, .overview__web__image img {
  background: no-repeat center center/cover;
  width: 100%;
}
.overview__support__title-desc {
  flex: 0 0 auto;
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .overview__support__title-desc {
    flex: 0 0 auto;
    width: 100%;
  }
}
.overview__support__image {
  flex: 0 0 auto;
  width: 48.75%;
}
@media only screen and (max-width: 992px) {
  .overview__support__image {
    flex: 0 0 auto;
    width: 49.1666666667%;
  }
}
@media only screen and (max-width: 768px) {
  .overview__support__image {
    flex: 0 0 auto;
    width: 100%;
  }
}
.overview__web__title-desc {
  flex: 0 0 auto;
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .overview__web__title-desc {
    flex: 0 0 auto;
    width: 100%;
  }
}
.overview__web__image {
  flex: 0 0 auto;
  width: 48.75%;
}
@media only screen and (max-width: 992px) {
  .overview__web__image {
    flex: 0 0 auto;
    width: 49.1666666667%;
  }
}
@media only screen and (max-width: 768px) {
  .overview__web__image {
    flex: 0 0 auto;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #212529;
}
.wrapper__top {
  width: 66.6666666667%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  text-align: center;
}
.wrapper__top p {
  font-size: 15px;
  color: #adb5bd;
  margin-top: 15px;
}
.wrapper__center {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}
.wrapper__center__list-item {
  background: #343a40;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 25%;
}
@media only screen and (max-width: 992px) {
  .wrapper__center__list-item:nth-child(1) {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .wrapper__center__list-item:nth-child(2) {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .wrapper__center__list-item:nth-child(3) {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper__center__list-item:nth-child(1) {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .wrapper__center__list-item:nth-child(2) {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .wrapper__center__list-item:nth-child(3) {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}
.wrapper__center__list-item h2 {
  color: white;
  margin-bottom: 10px;
}
.wrapper__center__list-item ul li {
  color: #adb5bd;
  font-size: 15px;
  margin: 10px 0;
}
.wrapper__center__list-item ul li a {
  color: #adb5bd;
  font-size: 15px;
}
.wrapper__bottom {
  height: 10vh;
  width: 100%;
  background: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__bottom p,
.wrapper__bottom a {
  font-size: 12px;
  color: #adb5bd;
  font-weight: 500;
}
